page-about {

}
.img_about img {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}